footer{
    background-color: var(--mid-color);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: var(--dark-color);
}

.footer-img {
    height: 100px;
    width: 150px;
    object-fit:contain;
    transform: translateX(-50px);
}
footer li{
    list-style: none;

}
.footer-opening{
    padding:5%;
   
}
.footer-opening-li, .footer-products-li, .footer-contact-li, .footer-quality-li{
    font-weight: 600;
    padding-bottom: 10%;
}

.footer-products, .footer-contact, .footer-quality{
    padding: 10% 0 10% 10%;

}
.footer-some{
   display: flex;
   flex-wrap: wrap;

   padding: 4%;
}

/* RESPONSIVE DESIGN HERUNDER */

@media screen and (max-width: 600px){
    
    .footer-img{
        align-items: center;
        transform: translateX(0px);
    }
    footer{   
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
      
    }
 
   .footer-opening, .footer-products, .footer-contact, .footer-quality{   
        text-align: center;
        padding: 5% 0;
        margin: auto;
      
}
    .footer-opening-li, .footer-products-li, .footer-contact-li, .footer-quality-li{
        text-align: center;
        margin: auto;
    
}
    .footer-some{
        text-align: center;
        margin: auto;

}


}
    
